@page
@using Microsoft.AspNetCore.Authentication;
@model EduK.Web.Pages.SecureModel

@{
    ViewData["Title"] = "Secure";
}
<h2>@ViewData["Title"]</h2>

<h3>User claims</h3>

<div>
    <a asp-page="JsonUser">Chamar API usando token do usuário</a>
</div>
<div>
    <a asp-page="JsonClient">Chamar API usando identitade da aplicação</a>
</div>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>

    }
    @*<dt>Cargo</dt>
    <dd>@Model.Cargo</dd>*@

    <dt>id token</dt>
    <dd>@await ViewContext.HttpContext.GetTokenAsync("id_token")</dd>

    <dt>access token</dt>
    <dd>@await ViewContext.HttpContext.GetTokenAsync("access_token")</dd>

    <dt>refresh token</dt>
    <dd>@await ViewContext.HttpContext.GetTokenAsync("refresh_token")</dd>
</dl>
