<div class="container-fluid">

    <titulo texto="Início" descricao="Seja bem vindo ao servidor de autenticações do EduK" caminho="EduK IS,Início"></titulo>

    <div class="row">
        <div class="col-sm-8">
            <p>
                Verifique nosso <a href="~/.well-known/openid-configuration">discovery document</a>.
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                <a href="~/grants">Clique aqui</a> para gerenciar os aplicativos cadastrados.
            </p>
        </div>
    </div>
</div>

