@model LogoutViewModel

<div class="container-fluid">

    <titulo texto="Logout" descricao="Sair do sistema" caminho="EduK IS,Segurança,Logout"></titulo>

    <div class="row">
        <div class="col-sm-6">
            <p>Você realmente deseja sair do EduK IS?</p>
            <form asp-action="Logout">
                <input type="hidden" name="logoutId" value="@Model.LogoutId" />
                <fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary">Sim</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>

